body{
  font-family: 'Anonymous Pro', monospace;
  background-image: url("../img/fizzbuzz-background.png");
}
.container{
  display: flex; 
  align-items: center;
  flex-direction: column; 
  align-items: center;
}

.front{
  display: flex;
  justify-content: center;
  background-image: url("../img/popup.jpg");
  width: 562px;
  height: 318px;
  background-repeat: no-repeat;
  box-shadow:  18px 15px  rgb(209, 120, 138);
  position: relative;
  align-items: center;
  top:200px; 
}
label{
  margin-bottom: 10px;
  width: 250px;
  text-align: center;
}
.button-section{
  display: flex;
  flex-direction: row;
  width: 222px;
  justify-content: space-between;
}

form{
  flex-direction: column;
  display:flex;
  align-items: center;
  width: 250px;
}
button{
  font-family: 'Anonymous Pro', monospace;
  margin-top: 4px;
  width: 100px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border-color: rgba(148, 148, 148, 0.993);
  border-width: 1px;
  border-style: solid;
}
input{
  font-family: 'Anonymous Pro', monospace;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border-color: rgba(148, 148, 148, 0.993);
  border-width: 1px;
  border-style: solid;
  width : 200px;
}
::placeholder{
  color: pink;
}
